
.ipynb_checkpoints/congressional_voting-checkpoint.ipynb
.ipynb_checkpoints/abalone_new-checkpoint.ipynb
.ipynb_checkpoints/abalone-checkpoint.ipynb
.ipynb_checkpoints/gym_session_tracking-checkpoint.ipynb
.ipynb_checkpoints/amazon_reviews-checkpoint.ipynb
evaluation/.ipynb_checkpoints/MLP_abalone-checkpoint.txt
evaluation/.ipynb_checkpoints/RF_abalone-checkpoint.txt
evaluation/.ipynb_checkpoints/SVM_abalone-checkpoint.txt
Exercise 1/.ipynb_checkpoints/abalone-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/MachineLearning-WS24-exercise2-checkpoint.pdf
Exercise 2/.ipynb_checkpoints/Random_Forest_Algorithm-checkpoint.ipynb
Exercise 1/.ipynb_checkpoints/amazon_reviews-checkpoint.ipynb
Exercise 1/.ipynb_checkpoints/abalone_new-checkpoint.ipynb
Exercise 1/.ipynb_checkpoints/congressional_voting-checkpoint.ipynb
Exercise 1/.ipynb_checkpoints/gym_session_tracking-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/RF_sibel-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/clara_A2_sibel-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/clara_A2_hannah-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/clara_A2-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/clara_A2_sibel_TreeAsAClass-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/exercise3_sibel-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/MachineLearning_A2_Group18-checkpoint.ipynb
Exercise 2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/AutoML_sibel-checkpoint.ipynb
.ipynb_checkpoints/requirements-checkpoint.txt
.DS_Store
Exercise 2/exercise3_sibel.ipynb
